#include <windows.h>
#include <commctrl.h>
#include <richedit.h>

#include "resource.h"
#include "rconfig.h"
#include "app.h"

LANGUAGE LANG_ENGLISH, SUBLANG_DEFAULT

//
// Accelerator resources
//
IDA_MAIN ACCELERATORS
BEGIN
	"C", IDM_COPY, CONTROL, VIRTKEY, NOINVERT
	VK_F1, IDM_ABOUT, VIRTKEY, NOINVERT
	VK_F5, IDM_REFRESH, VIRTKEY, NOINVERT
	VK_F11, IDM_ZOOM, VIRTKEY, NOINVERT
END

//
// Menu resources
//
IDM_MAIN MENU
{
	POPUP "File"
	{
		MENUITEM "Exit\tEsc", IDM_EXIT
	}
	POPUP "Settings"
	{
		MENUITEM "Always on top", IDM_ALWAYSONTOP_CHK
		MENUITEM "Use dark theme", IDM_USEDARKTHEME_CHK
		MENUITEM "Periodically check for updates (recommended)", IDM_CHECKUPDATES_CHK
	}
	POPUP "Help"
	{
		MENUITEM "Website", IDM_WEBSITE
		MENUITEM "Check for update", IDM_CHECK_UPDATES
		MENUITEM "About\tF1", IDM_ABOUT
	}
}

IDM_DRIVES MENU
{
	POPUP ""
	{
		MENUITEM "Open", IDM_OPEN
		MENUITEM SEPARATOR
		MENUITEM "Protect", IDM_PROTECT
		MENUITEM "Unprotect", IDM_UNPROTECT
		MENUITEM SEPARATOR
		MENUITEM "Refresh\tF5", IDM_REFRESH
		MENUITEM SEPARATOR
		POPUP "Service"
		{
			MENUITEM "Lock access", IDM_LOCK
			MENUITEM "Unlock access", IDM_UNLOCK
			MENUITEM "Unlock all drives", IDM_UNLOCK_ALL
			MENUITEM SEPARATOR
			MENUITEM "Eject", IDM_EJECT
			MENUITEM "Format...", IDM_FORMAT
		}
		MENUITEM SEPARATOR
		MENUITEM "Properties", IDM_PROPERTY
	}
}

IDM_PROPERTIES MENU
{
	POPUP ""
	{
		MENUITEM "Copy\tCtrl+C", IDM_COPY
		MENUITEM "Refresh", IDM_REFRESH
	}
}

//
// Dialog resources
//
IDD_MAIN DIALOGEX 0, 0, 323, 171
STYLE WS_OVERLAPPEDWINDOW | WS_CLIPCHILDREN | WS_CLIPSIBLINGS | DS_SHELLFONT | DS_MODALFRAME | NOT WS_VISIBLE
CAPTION APP_NAME
MENU IDM_MAIN
FONT 8, "Ms Shell Dlg"
{
	CONTROL			"", IDC_DRIVES, WC_LISTVIEW, WS_TABSTOP | WS_BORDER | LVS_SHOWSELALWAYS | LVS_NOSORTHEADER | LVS_REPORT, 8, 8, 307, 142
	CONTROL			"", IDC_STATUSBAR, STATUSCLASSNAME, 0, 0, 158, 323, 13
}

IDD_PROPERTIES DIALOGEX 0, 0, 210, 180
STYLE WS_POPUP | WS_SYSMENU | WS_CAPTION | DS_MODALFRAME | DS_SHELLFONT
CAPTION "Properties"
FONT 8, "Ms Shell Dlg"
{
	CONTROL				"", IDC_PROPERTIES, WC_LISTVIEW, NOT WS_BORDER | WS_TABSTOP | LVS_SHOWSELALWAYS | LVS_REPORT | LVS_NOCOLUMNHEADER | LVS_NOSCROLL, 8, 8, 194, 140
	DEFPUSHBUTTON		"OK", IDC_OK, 153, 160, 50, 14
}

//
// Icon resources
//
IDI_MAIN				ICON			"res\\main.ico"
IDI_NORMAL				ICON			"res\\normal.ico"
IDI_PROTECTED			ICON			"res\\protected.ico"
IDI_INFECTED			ICON			"res\\infected.ico"
IDI_LOCKED				ICON			"res\\locked.ico"

//
// Manifest resource
//
1			RT_MANIFEST		"res\\manifest.xml"

//
// Version Information resources
//
VS_VERSION_INFO VERSIONINFO
FILEVERSION		APP_VERSION_RES
PRODUCTVERSION	APP_VERSION_RES
FILEOS			VOS__WINDOWS32
FILETYPE		VFT_APP
FILESUBTYPE		VFT2_UNKNOWN
FILEFLAGSMASK	0x00000000
FILEFLAGS		VS_FF_PATCHED | VS_FF_PRERELEASE
{
	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "040904E4"
		BEGIN
			VALUE "Comments", APP_COMMENT
			VALUE "CompanyName", APP_AUTHOR
			VALUE "FileDescription", APP_NAME
			VALUE "FileVersion", APP_VERSION
			VALUE "InternalName", APP_NAME_SHORT
			VALUE "LegalCopyright", APP_COPYRIGHT
			VALUE "OriginalFilename", APP_NAME_SHORT ".exe"
			VALUE "ProductName", APP_NAME
			VALUE "ProductVersion", APP_VERSION
		END
	END
	BLOCK "VarFileInfo"
	BEGIN
		VALUE "Translation", 0x0409, 1252
	END
}
