#include <windows.h>
#include <commctrl.h>
#include <richedit.h>

#include "resource.h"
#include "rconfig.h"
#include "app.h"

LANGUAGE LANG_ENGLISH, SUBLANG_DEFAULT

//
// Accelerator resources
//
IDA_MAIN ACCELERATORS
BEGIN
	"C", IDM_COPY, CONTROL, VIRTKEY, NOINVERT
	VK_F1, IDM_ABOUT, VIRTKEY, NOINVERT
	VK_F5, IDM_REFRESH, VIRTKEY, NOINVERT
	VK_F11, IDM_ZOOM, VIRTKEY, NOINVERT
END

//
// Menu resources
//
IDM_MAIN MENU
{
	POPUP " "
	{
		MENUITEM " ", IDM_EXIT
	}
	POPUP " "
	{
		MENUITEM " ", IDM_ALWAYSONTOP_CHK
		MENUITEM " ", IDM_DARKMODE_CHK
		MENUITEM " ", IDM_CHECKUPDATES_CHK
		MENUITEM SEPARATOR
		POPUP " "
		{
			MENUITEM " ", IDX_LANGUAGE
		}
	}
	POPUP " "
	{
		MENUITEM " ", IDM_WEBSITE
		MENUITEM " ", IDM_CHECKUPDATES
		MENUITEM " ", IDM_ABOUT
	}
}

IDM_DRIVES MENU
{
	POPUP ""
	{
		MENUITEM " ", IDM_OPEN
		MENUITEM SEPARATOR
		MENUITEM " ", IDM_PROTECT
		MENUITEM " ", IDM_UNPROTECT
		MENUITEM SEPARATOR
		MENUITEM " ", IDM_REFRESH
		MENUITEM SEPARATOR
		POPUP " "
		{
			MENUITEM " ", IDM_LOCK
			MENUITEM " ", IDM_UNLOCK
			MENUITEM " ", IDM_UNLOCK_ALL
			MENUITEM SEPARATOR
			MENUITEM " ", IDM_EJECT
			MENUITEM " ", IDM_FORMAT
		}
		MENUITEM SEPARATOR
		MENUITEM " ", IDM_PROPERTY
	}
}

IDM_PROPERTIES MENU
{
	POPUP ""
	{
		MENUITEM " ", IDM_COPY
		MENUITEM " ", IDM_REFRESH
	}
}

//
// Dialog resources
//
IDD_MAIN DIALOGEX 0, 0, 323, 171
STYLE WS_OVERLAPPEDWINDOW | WS_CLIPCHILDREN | WS_CLIPSIBLINGS | DS_SHELLFONT | DS_MODALFRAME | NOT WS_VISIBLE
CAPTION APP_NAME
MENU IDM_MAIN
FONT 8, "Ms Shell Dlg"
{
	CONTROL			"", IDC_DRIVES, WC_LISTVIEW, WS_TABSTOP | WS_BORDER | LVS_SHOWSELALWAYS | LVS_NOSORTHEADER | LVS_REPORT, 8, 8, 307, 142
	CONTROL			"", IDC_STATUSBAR, STATUSCLASSNAME, 0, 0, 158, 323, 13
}

IDD_PROPERTIES DIALOGEX 0, 0, 210, 180
STYLE WS_POPUP | WS_SYSMENU | WS_CAPTION | DS_MODALFRAME | DS_SHELLFONT
CAPTION ""
FONT 8, "Ms Shell Dlg"
{
	CONTROL				"", IDC_PROPERTIES, WC_LISTVIEW, NOT WS_BORDER | WS_TABSTOP | LVS_SHOWSELALWAYS | LVS_REPORT | LVS_NOCOLUMNHEADER | LVS_NOSCROLL, 8, 8, 194, 140
	DEFPUSHBUTTON		"OK", IDC_OK, 153, 160, 50, 14
}

//
// String resources
//
STRINGTABLE
{
	IDS_FILE "File"
	IDS_EXIT "Exit"
	IDS_SETTINGS "Settings"
	IDS_ALWAYSONTOP_CHK "Always on top"
	IDS_DARKMODE_CHK "Use dark theme"
	IDS_CHECKUPDATES_CHK "Periodically check for updates (recommended)"
	IDS_LANGUAGE "Language"
	IDS_HELP "Help"
	IDS_WEBSITE "Website"
	IDS_CHECKUPDATES "Check for updates"
	IDS_ABOUT "About"

	IDS_OPEN "Open"
	IDS_PROTECT "Protect"
	IDS_UNPROTECT "Unprotect"
	IDS_SERVICE "Service"
	IDS_LOCK "Lock access"
	IDS_UNLOCK "Unlock access"
	IDS_UNLOCK_ALL "Unlock all drives"
	IDS_EJECT "Eject"
	IDS_FORMAT "Format"

	IDS_PROPERTIES "Properties"

	IDS_GROUP1 "General"
	IDS_GROUP2 "Space"

	IDS_DRIVE "Drive"
	IDS_LABEL "Label"
	IDS_TYPE "Type"
	IDS_FILESYSTEM "Filesystem"
	IDS_STATUS "Status"
	IDS_SERIAL "Serial number"

	IDS_FREESPACE "Free space"
	IDS_USEDSPACE "Used space"
	IDS_TOTALSPACE "Total space"

	IDS_COPY "Copy"
	IDS_REFRESH "Refresh"

	IDS_CLOSE "Close"
}

//
// Icon resources
//
IDI_MAIN				ICON			"res\\main.ico"
IDI_NORMAL				ICON			"res\\normal.ico"
IDI_PROTECTED			ICON			"res\\protected.ico"
IDI_INFECTED			ICON			"res\\infected.ico"
IDI_LOCKED				ICON			"res\\locked.ico"

//
// Manifest resource
//
1			RT_MANIFEST		"res\\manifest.xml"

//
// Version Information resources
//
VS_VERSION_INFO VERSIONINFO
FILEVERSION		APP_VERSION_RES
PRODUCTVERSION	APP_VERSION_RES
FILEOS			VOS__WINDOWS32
FILETYPE		VFT_APP
FILESUBTYPE		VFT2_UNKNOWN
FILEFLAGSMASK	0x00000000
FILEFLAGS		VS_FF_PATCHED | VS_FF_PRERELEASE
{
	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "040904E4"
		BEGIN
			VALUE "Comments", APP_COMMENT
			VALUE "CompanyName", APP_AUTHOR
			VALUE "FileDescription", APP_NAME
			VALUE "FileVersion", APP_VERSION
			VALUE "InternalName", APP_NAME_SHORT
			VALUE "LegalCopyright", APP_COPYRIGHT
			VALUE "OriginalFilename", APP_NAME_SHORT ".exe"
			VALUE "ProductName", APP_NAME
			VALUE "ProductVersion", APP_VERSION
		END
	END
	BLOCK "VarFileInfo"
	BEGIN
		VALUE "Translation", 0x0409, 1252
	END
}
